/* AutoSliderPage.css */
.auto-slider-page {
    padding: 50px 0;
    text-align: center;
  }
  
  .auto-slider-content {
    max-width: 1500px;
    margin: 0 auto;
  }
  
  .auto-slider-content h2 {
    margin-bottom: 30px;
  }
  
  .auto-slider {
    position: relative;
    overflow: hidden;
  }
  
  .slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    outline: none;
  }
  
  .slider-control:first-child {
    left: 10px;
  }
  
  .slider-control:last-child {
    right: 10px;
  }
  
  .auto-slider-image {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.5s ease; /* Add a smooth transition effect */
  }
  